@import 'var.scss';
@import 'mixins.scss';
@import 'table.scss';
@import 'pagination.scss';

/* 定义各个状态 
 --------------------*/
$status-list: 'pay-wait', 'triage-wait', 'triage-process', 'consult-wait',
  'consult-process', 'check-wait', 'check-process', 'confirm-wait', 'complete',
  'cancel', 'close', 'operator-wait', 'operator-process', 'handle';

/* status */
.table-status {
  --background-pay-wait: #248afd;
  --background-triage-wait: #e67125;
  --background-triage-process: #62bbcc;
  --background-consult-wait: #6992ff;
  --background-consult-process: #9366ff;
  --background-check-wait: #ff5683;
  --background-check-process: #0ea3a0;
  --background-confirm-wait: #059441;
  --background-complete: #8bbc20;
  --background-cancel: #969696;
  --background-close: #d5410f;
  --background-operator-wait: #248afd;
  --background-operator-process: #62bbcc;
  --background-handle: #3abdcf;

  .circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
  }

  @include setStatusBg($status-list);
}

/* tag
 --------------------*/
$tag-list: modality outpatient hospital examination emergency;

.tag {
  --color-modality: #2eb4b5;
  --color-outpatient: #ffa05c;
  --color-hospital: #248afd;
  --color-examination: #60aba9;
  --color-emergency: #fb7b7b;

  width: 42px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);

  border-radius: 4px;
  border: 1px solid currentColor;

  @include setTagColor($tag-list);
}
