@import 'var.scss';
/* Scrollbar
 -------------------- */
@mixin scroll-bar {
  &::-webkit-scrollbar {
    z-index: 11;
    width: 8px;

    &:horizontal {
      height: 8px;
    }

    &-thumb {
      border-radius: 8px;
      width: 8px;
      background: var(--scrollbar-thumb-background);
    }

    &-corner {
      background: transparent;
    }

    &-track {
      background: var(--scrollbar-track-background);
      border-radius: 8px;

      &-piece {
        background: var(--scrollbar-track-background);
        width: 8px;
        border-radius: 8px;
      }
    }
  }
}

/* Placeholder
 -------------------- */
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

/* 设置每个状态下圆点的背景色
 --------------------*/
@mixin setStatusBg($status-list) {
  @each $status in $status-list {
    &.#{$status} {
      .circle {
        background: var(--background-#{$status});
      }
    }
  }
}

/* 设置仪器类型 患者来源标签
 --------------------*/
@mixin setTagColor($tag-list) {
  @each $tag in $tag-list {
    &.#{$tag}-tag {
      color: var(--color-#{$tag});
    }
  }
}
