$color--light: #333;

:root {  
  /* font */
  --font-size-small: 12px;
  --font-size-base: 14px;
  --font-size-medium: 16px;
  
  /* color */
  --color-white: white;
  --color-dark-light: #333;
  --color-gray: #c4c4c4;
  --color-gray-light: #666;
  --color-green-light: #2EB4B5;
  
}


[data-theme='light'] {

  /* background */
  --background-color-base: white;
  --background-color-1: #F0F2F5;

  /* menu */
  --menu-background-color: white;
  --menu-background-active-color: #248AFD;
  --menu-text-color: #333;
  --menu-text-color-hover: white;
  --menu-text-color-active: white;  
  --submenu-background: #F4F8FF;

  /* table */
  --table-background: white;
  --table-background-striped: #F6F6F6;
  --table-color: #333333;  

  /* scrollbar */
  --scrollbar-thumb-background: #D8D8D8;
  --scrollbar-track-background: #56585F;

}

[data-theme='dark'] {

  /* background */
  --background-color-base: #282B32;
  --background-color-1: #3D4049;

  /* menu */
  --menu-background-color: #282B32;
  --menu-background-color-active: #202228;
  --menu-text-color: #bfcbd9:
  --menu-text-color-hover: #409eff;
  --menu-text-color-active: #409eff;  
  --submenu-background: #4E5262;

  /* table */
  --table-background: #282B32;
  --table-background-striped: #3D4049;
  --table-color: #ffffff;  

  /* scrollbar */
  --scrollbar-thumb-background: rgba(119, 119, 119, 1);
  --scrollbar-track-background: rgba(119, 119, 119, 0.37);
}

$themes: (
  light: (
    color1: black,
  ),
  dark: (
    color1: white,
  ),
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin font_color($color) {
  @include themeify {
    color: themed($color);
  }
}
